<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<p>
  <a href="/shop">Quay lại cửa hàng</a>
</p>
<h1>Giỏ hàng của bạn</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
  <h3>Giỏ hàng: <span th:text="${cart.countItemQuantity()}"></span></h3>
  <h3>Số lượng sản phẩm : <span th:text="${cart.countProductQuantity()}"></span></h3>
  <table border="1">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
        <th></th>
    </tr>
    <tr th:each="product: ${cart.products}">
      <td th:text="${product.getKey().name}"></td>
      <td>
        <a id="decrease_button" th:href="@{/minus/__${product.getKey().id}__(action='show')}" th:text="${'-'}"></a>
        <span th:text="${product.getValue()}"></span>
        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
           th:text="${'+'}"></a>
      </td>
      <td th:text="${product.getKey().price}"></td>
        <td><button><a th:href="@{/delete/{id}(id=${product.getKey().id})}">Delete</a></button></td>

    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td th:text="${cart.countTotalPayment()}"></td>
    </tr>
  </table>
</form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>