.link-dark:hover{
    background-color: #183661 !important;
    color: white;
}

.card-browser-states .browser-states:first-child {
    margin-top: 0; }

.card-browser-states .browser-states:not(:first-child) {
    margin-top: 1.7rem; }

/*!* Style the buttons that are used to open and close the accordion panel *!*/
.accordion {
    /*background-color: #eee;*/
    /*color: #444;*/
    cursor: pointer;

    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
.active, .accordion:hover {
    background-color: #f6f6f9;
    /*color: white;*/
}

/*!* Style the accordion panel. Note: hidden by default *!*/
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

