<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Product Info</h1>
    <table class="table table-striped" th:object="${product}">
        <thead >
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">PRICE</th>
            <th scope="col">DETAIL</th>
            <th scope="col">PRODUCER</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th th:text="${product.id}" ></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.detail}"></td>
            <td th:text="${product.producer}"></td>

        </tr>
        </tbody>
    </table>
    <div>
        <p><a href="/product">return</a></p>
    </div>
</div>
</body>
</html>