<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 style="text-align: center ; color: red">Mương 14</h1>

    <div><a type="button" class="btn btn-primary" th:href="@{/blogs/form-create}">Create</a></div>
    <div>
        <form action="/blogs" method="get">
            <input type="text" name="name" placeholder="Search..." th:value="${freeText}"/>
            <button type="submit">Search</button>
        </form>
    </div>
    <table class="table" style="margin-top: 26px;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Author</th>
            <th><a th:href="@{/categorys}">Category</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blogs : ${blog}">
            <td th:text="${blogs.id}"></td>
            <td><a th:href="@{/blogs/{id}(id=${blogs.id})}" th:text="${blogs.name}"></a></td>
            <td th:text="${blogs.content}"></td>
            <td th:text="${blogs.author}"></td>
            <td th:text="${blogs.category.name}"></td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId"
                        th:attr="onclick=|getBlogInfo('${blogs.id}', '${blogs.name}')|">
                    Delete
                </button>
            </td>
            <td><a type="button" class="btn btn-primary" th:href="@{/blogs/update/{id}(id=${blogs.id})}">Update</a></td>
        </tr>

        </tbody>
    </table>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-item" th:if="${blog.hasPrevious()}"
                                     th:href="@{/blogs(page=${blog.number - 1 },name=${freeText})}">Trước</a></li>
            <li class="page-item"><a th:each="p : ${pages}" th:if="${p != blog.number}"
                                     th:href="@{/blogs(page=${p},name=${freeText})}" th:text="${p}"></a></li>
            <li class="page-item"><a class="page-item" th:if="${blog.hasNext()}"
                                     th:href="@{/blogs(page=${blog.number + 1 },name=${freeText})}">Sau</a></li>

        </ul>
    </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa blog </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/blogs/delete" method="get">
                <div class="modal-body">
                    <input type="hidden" name="deleteId" id="deleteId">
                    <span>Bạn có chắc muốn xóa </span> <span id="deleteName" style="color: red"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getBlogInfo(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }

</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>